# Packer local vars (secrets)
packer/variables.auto.pkrvars.hcl
packer/**/packer_cache/
*.pkrvars.hcl
!*.pkrvars.hcl.example

# Python
__pycache__/
*.py[cod]
.venv/
venv/
*.egg-info/
.pytest_cache/
build/
dist/

# Terraform local
**/.terraform/
*.tfstate
*.tfstate.*
crash.log
override.tf
*_override.tf
